<%= form_for(@subsubtopic_value) do |f| %>
  <% if @subsubtopic_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsubtopic_value.errors.count, "error") %> prohibited this subsubtopic_value from being saved:</h2>

      <ul>
      <% @subsubtopic_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluation_id %><br />
    <%= f.text_field :evaluation_id %>
  </div>
  <div class="field">
    <%= f.label :subsubtopic_id %><br />
    <%= f.text_field :subsubtopic_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
