<h1>Listing skeletons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skeletons.each do |skeleton| %>
  <tr>
    <td><%= skeleton.name %></td>
    <td><%= link_to 'Show', skeleton %></td>
    <td><%= link_to 'Edit', edit_skeleton_path(skeleton) %></td>
    <td><%= link_to 'Destroy', skeleton, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skeleton', new_skeleton_path %>
