<%= form_for(@topic_value) do |f| %>
  <% if @topic_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic_value.errors.count, "error") %> prohibited this topic_value from being saved:</h2>

      <ul>
      <% @topic_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluation_id %><br />
    <%= f.text_field :evaluation_id %>
  </div>
  <div class="field">
    <%= f.label :topic_id %><br />
    <%= f.text_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
