<h1>Listing subtopic_values</h1>

<table>
  <tr>
    <th>Evaluation</th>
    <th>Subtopic</th>
    <th>Value</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subtopic_values.each do |subtopic_value| %>
  <tr>
    <td><%= subtopic_value.evaluation_id %></td>
    <td><%= subtopic_value.subtopic_id %></td>
    <td><%= subtopic_value.value %></td>
    <td><%= subtopic_value.comments %></td>
    <td><%= link_to 'Show', subtopic_value %></td>
    <td><%= link_to 'Edit', edit_subtopic_value_path(subtopic_value) %></td>
    <td><%= link_to 'Destroy', subtopic_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subtopic value', new_subtopic_value_path %>
